version: 2
jobs:
  build:
    docker:
     - image: circleci/php:7.4-cli
    steps: 
      - checkout
      - run:
          name: Install MySQL driver
          command: |
            sudo docker-php-ext-configure pdo_mysql --with-pdo-mysql=mysqlnd
            sudo docker-php-ext-install zip bcmath pdo_mysql
  db:
    docker:
     - image: circleci/mysql
        command: mysqld --default-authentication-plugin=mysql_native_password
        environment:
          MYSQL_USER: forge
          MYSQL_DATABASE: forge
          MYSQL_ROOT_PASSWORD: ''
          MYSQL_PASSWORD: 'forge'
    steps: 
      - checkout 
workflows: 
  version: 2
  build_test:
    jobs:
      - db
      - build