version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.2.3
jobs:
  build:
    docker:
     - image: circleci/php:7.4-cli # The primary container where steps are run
      #  auth:
      #     username: mydockerhub-user
      #     password: $DOCKERHUB_PASSWORD
     - image: cimg/mysql:8.0
      #  auth:
      #     username: mydockerhub-user
      #     password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
       environment:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: fut_login_app
    steps: 
      - checkout
      - run:
          name: PHP Waiting for MySQL to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z 127.0.0.1 3306 && echo Success && sudo docker-php-ext-install pdo_mysql && sudo docker-php-ext-enable pdo_mysql && composer install && php artisan migrate --seed --env=testing && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for MySQL && exit 1
      - run: 
          name: Install MySQL CLI; Import dummy data; run an example query
          command: |
            sudo apt-get update
            sudo apt-get install default-mysql-client
            
workflows: 
  version: 2.1
  build_deploy:
    jobs:
      - build