version: 2
jobs:
  build:
    docker:
     - image: circleci/ruby:2.4.1
        
    steps: 
      - checkout
      - run:
          name: PHP Waiting for MySQL to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z 127.0.0.1 3306 && echo Success && sudo docker-php-ext-install pdo_mysql && sudo docker-php-ext-enable pdo_mysql && 
              composer install && sudo cp env_example .env.testing && php artisan migrate:fresh --seed --env=testing && php artisan test --env=testing && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for MySQL && exit 1
      - run: 
          name: Install MySQL CLI; Import dummy data; run an example query
          command: |
            sudo apt-get update
            sudo apt-get install default-mysql-client
            
workflows: 
  version: 2.1
  build_deploy:
    jobs:
      - build
